################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TATPlugin_Teams/FileContentIndex/18ab5a88-c76b-4ad3-995c-5f45832a43ec.vsidx
/.vs/TATPlugin_Teams/FileContentIndex
